#page-header {
  /* background-image: url('images/fieldsBW.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center; */
  margin: 13%;
  margin-top: 9%;
  margin-bottom: 0%;
  height: 61px;
  text-indent: -1000em;
}

html {
  background: url(../images/fieldsBW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

h1 {
  color: white;
  text-align: center;

}

#image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  height: 175px;
  border-radius: 151px;
}

nav {
  text-align: center;
  color: white;
}


.main-nav a {
  display: flex;
  padding: 5px;
  font-size:  3vw;
}

.main-nav ul {
  text-align: center;
  list-style-type: none;
  width: 100%;
  display: none;
  padding: 0px;
  flex-direction: column;
  color: white;
}

.main-nav .icon-menu:hover + ul {
  display: flex;
}

li {
  float: left;
  padding: 3%;
  text-align: center;
  margin:auto;
  color: white;
}

#hi {
  text-align: center;
  margin-top: 9%;
  color: white;
}

/*projects css*/
.template-article {
  display: none;
}

.my-project {
  width: 400px;
  text-align: center;
  background-color: #ffffff66;
  border-radius: 10px;
  color: white;
}

h2 {
  text-align: center;
}
.my-project img {
  max-width: 90%
}

#projects {
  text-align: center;
}

.project-images {
  border-radius: 151px;
}

/*contact me section*/
#contact-me {
  color: white;
}


/*when screen reaches 650px*/
@media screen and (min-width: 650px) {
  .main-nav ul {
    display: flex;
    flex-direction: row;
  }
  #image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 285px;
    padding-left: 11%;
    padding-right: 11%;
  }

  #projects {
    display: flex;
  }

  .my-project {
    padding: 10px;
  }

}

@media screen and (min-width: 950px) {
  #image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 450px;
  padding-left: 11%;
  padding-right: 11%;
}
