#page-header {

  height: 61px;
  text-indent: -1000em;
}

html {
  background: url(../images/fieldsBW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#intro {
  height: 100px;
}

h1 {
  color: white;
  font-family: Brush Script MT, cursive;
  text-align: center;
  margin: 0;
  text-shadow: 5px 5px #3b3838;
  font-size: 50px;
}

#main-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + #main-menu {
  max-height: 110px;
}

nav {
  text-align: center;
  color: white;
}


.main-nav a {
  display: flex;
  padding: 5px;
  font-size:  2vw;
}

/* .main-nav ul {
  text-align: center;
  width: 100%;
  display: none;
  padding: 0px;
  flex-direction: column;
  color: white;
} */

.main-nav .icon-menu:hover + ul {
  display: flex;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: white;
}

.main-nav span {
  display: none;
}

.main-nav a {
  color: white;
}

li {
  float: left;
  padding: 3%;
  text-align: center;
  margin:auto;
  color: white;
}

#hi {
  text-align: center;
  margin-top: 6%;
  color: white;
  height: 300px;
}

.mySlides {
  display:none;
  width:50%;
  margin:auto;
}
.left, .right, .badge {
  cursor:pointer;
}
.badge {
  height:13px;
  width:13px;
  padding:0;
}
.center {
  width: 100%;
}

/*projects css*/
.template-article {
  display: none;
}

.testProjects {
  background-color: #ffffff66;
  border-radius: 10px;
  color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}



h2, h5{
  text-align: center;
}

.testProjects img {
  max-width: 90%;

}


.project-images {
  border-radius: 151px;

}

/*contact me section*/
#contact-me {
  color: white;
}


@media screen and (min-width: 415px) {
  h1 {
    font-size: 85px;
  }
}



/*when screen reaches 650px*/
@media screen and (min-width: 650px) {
  .main-nav ul {
    display: flex;
    flex-direction: row;
  }

  .main-nav span {
    display: none;
  }

  #image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 285px;
    padding-left: 11%;
    padding-right: 11%;
  }

  .my-project {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

}

@media screen and (min-width: 950px) {
  #image1 {
  height: 250px;
  max-width: 100%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

#projects {
  width: 70%;
  margin: auto;
}

h1 {
  font-size: 150px;
}

.testProjects {
  background-color: #ffffff66;
  border-radius: 10px;
  color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
