#header {
  /* background-color:purple; */
  background: url('image/oxnardField.jpg');
  background-size: 100%;
  width: 50%;
  height: 30%;
  margin: auto;
  display: center;
  text-align: center;
  margin-top: 10%;
  border-radius: 10px;
  padding:
}
